<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">All the News and More</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/saved">Saved Articles</a></li>
        <a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Get new Articles</a>
        <a class="waves-effect waves-light btn"><i class="material-icons left">clear_all</i>Clear Articles</a>
        </ul>
    </div>
</nav>