<!DOCTYPE html>
<html>
<head>
      <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="assets/style/materialize.css">
    <link rel="stylesheet" href="assets/style/style.css">
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <title>Beach Grit Commenter</title>
</head>
<body>
   {{{ body }}}
     <!-- Compiled and minified JavaScript -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script src="assets/script/materialize.js"></script>
     <script src="assets/script/app.js"></script>
</body>
</html>